span.keyword{
  background-color: #aaebff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

#search{
  border: solid 2px #DDDDDD;
  border-radius: 5px;
  padding: 10px;
}

.option1{
  margin-bottom: 20px;
}

.option2{
  margin-bottom: 20px;
}

#result{
  margin-top: 20px;
}

.card{
  height: 310px;
  margin-bottom: 10px;
  background-color :#aaebff;
}

.thumb{
  float: left;
}

.meta{
  text-align: right;
}

a.time{
  color: #FEFFFF;
  font-weight: 500;
}

.userId{
  color: #444444;
  font-weight: 600;
}

.tweet{
  height: 200px;
  margin-top: 15px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
