/*index.html*/
@media (max-width: 600px){
  label.btn{
    font-size: 0.6em;
  }
}

label.btn{
  font-size: 0.8em;
}


nav{
  background-color: #51c8ff;
}

.imgSection{
  margin-bottom: 5px;
}

img{
  border: solid 2px #0ab0fd;
  border-radius: 4px;
}

.imgSection > img{
  width: 30%;
  margin-left: 2%;
  border: solid 2px #0ab0fd;
  border-radius: 5px;
}

h2{
  font-weight: 300;
  border-bottom: solid 4px #ACACAC;
  margin-bottom: 5px;
}

h3{
  font-weight: 300;
  background-color: #98deff;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*search.php*/
span.keyword{
  background-color: #aaebff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

#search{
  border: solid 2px #DDDDDD;
  border-radius: 5px;
  padding: 10px;
}

.option1{
  margin-bottom: 20px;
}

.option2{
  margin-bottom: 20px;
}

#result{
  margin-top: 20px;
}

.card{
  min-height: 360px;
  margin-bottom: 10px;
  background-color :#aaebff;
}

.userCard{
  background-color :#ebebeb;
}

.thumb{
  float: left;
}

.meta{
  text-align: right;
}

a.time{
  color: #FEFFFF;
  font-weight: 500;
}

.name{
  font-size: 20px;
  font-weight: 300;
}

.userId{
  color: #444444;
  font-weight: 600;
}

.tweet{
  height: 200px;
  margin-top: 15px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.userThumb{
  text-align: center;
}

.userThumb img{
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
}

.userMeta{
  background-color: #FFF; 
  text-align: center;
}

.userMeta > .userName{
  font-size: 20px;
  font-weight: 200;
}

.userMeta > .userId{
  font-size: 14px;
}
